<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>

    <style>
        table
        {
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid #d4d4d4;
            height: 500px;
        }

        th, td
        {
            padding: 10px 30px;
        }

        th
        {
            border-bottom: 1px solid #d4d4d4;
        }
    </style>
</head>
<body>
<input type='checkbox'
       name='search'
       value='name'/> Name
<input type='checkbox'
       name='search'
       value='ssn' /> Ssn
<input type='checkbox'
       name='search'
       value='bdate' /> Bdate
<input type='checkbox'
       name='search'
       value='address' /> Address
<input type='checkbox'
       name='search'
       value='sex' /> Sex
<input type='checkbox'
       name='search'
       value='salary' /> Salary
<input type='checkbox'
       name='search'
       value='super_ssn' /> Supervisor
<input type='checkbox'
       name='search'
       value='dno' /> Department
</br>
<select id="searchRange" onchange = "makeDropdownFromMetadata(this.value)">
    <option value="default">전체</option>
    <option value="dname">부서</option>
    <option value="sex">성별</option>
    <option value="salary">연봉</option>
    <option value="bdate">생일</option>
    <option value="ssn">부하직원</option>
</select>
<span id = 'customInputField'>
</span>
<button onclick='getCheckboxValue()'>확인</button>

</br>
</br>
</br>

<div id='result'>
</div>

</br>
</br>
<p>검색된 직원 : <span class="selectName"></span></p>
<p>검색된 튜플의 개수 : <span class="countTuple">0</span></p>
<button onclick='postDeleteSelectedRows()'>선택항목 삭제</button>

</br>
<p id = "updateBlock">
    <span>수정:</span>
    <select id="updateRange">
        <option value="address">주소</option>
        <option value="sex">성별</option>
        <option value="salary">연봉</option>
    </select>
    <input id = "updateValue"></input>
    <button onclick='postUpdateSelectedRows()'>UPDATE</button>
</p>

</br>
<p id = "updateDepartmentBlock">
    <span>부서 봉급 일괄 수정:</span>
	<span id = 'departmentInputField'>
	</span>
    <input id = "updateDepartmentValue"></input>
    <button onclick='postUpdateDepartmentSalary()'>일괄 변경</button>
</p>

</br>
<button onclick="location.href='insert'">삽입</button>

</br>
<p id = "selectDependentBlock">
    <button onclick='postSelectDepedent()'>선택 직원 부양가족 목록</button>
    <p id = "dpResult">
</p>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js?ver=1"></script>
</body>
</html>