<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>

    <style>
        table
        {
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
            border: 1px solid #d4d4d4;
            height: 500px;
        }

        tr:nth-child(even)
        {
            background: #d4d4d4;
        }

        th, td
        {
            padding: 10px 30px;
        }

        th
        {
            border-bottom: 1px solid #d4d4d4;
        }
    </style>
</head>
<body>
<input type='checkbox'
       name='search'
       value='name'/> Name
<input type='checkbox'
       name='search'
       value='ssn' /> Ssn
<input type='checkbox'
       name='search'
       value='bdate' /> Bdate
<input type='checkbox'
       name='search'
       value='address' /> Address
<input type='checkbox'
       name='search'
       value='sex' /> Sex
<input type='checkbox'
       name='search'
       value='salary' /> Salary
<input type='checkbox'
       name='search'
       value='super_ssn' /> Supervisor
<input type='checkbox'
       name='search'
       value='dno' /> Department
</br>
<select id="searchRange">
    <option value="default">전체</option>
    <option value="dname">부서</option>
    <option value="sex">성별</option>
    <option value="salary">연봉</option>
    <option value="bdate">생일</option>
    <option value="ssn">부하직원</option>
</select>
<input	type = 'text'
          name = 'customInputField' />
<button onclick='getCheckboxValue()'>확인</button>

</br>
</br>
</br>

<div id='result'>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>