<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
</head>
<body>
<input type='checkbox'
       name='search'
       value='name'/> Name
<input type='checkbox'
       name='search'
       value='ssn' /> Ssn
<input type='checkbox'
       name='search'
       value='bdate' /> Bdate
<input type='checkbox'
       name='search'
       value='address' /> Address
<input type='checkbox'
       name='search'
       value='sex' /> Sex
<input type='checkbox'
       name='search'
       value='salary' /> Salary
<input type='checkbox'
       name='search'
       value='super_ssn' /> Supervisor
<input type='checkbox'
       name='search'
       value='dno' /> Department
</br>
<select id="searchRange">
    <option value="default">전체</option>
    <option value="department">부서</option>
    <option value="sex">성별</option>
    <option value="salary">연봉</option>
    <option value="bdate">생일</option>
    <option value="ssn">부하직원</option>
</select>
<input	type = 'text'
          name = 'customInputField' />
<button onclick='getCheckboxValue()'>확인</button>

<div id='result'>
    <p id = "table"></p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app/index.js"></script>
</body>
</html>
</body>
</html>