<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Insert</title>
</head>
<body>
<h1> 새로운 직원 정보 추가 </h1>
<div class = "Name"> First Name :  <input type="text" id="fname"></div></br>
<div class = "Middle"> Middle Init : <input type="text" id="minit"></div></br>
<div class = "Last"> Last Name : <input type="text" id="lname"></div></br>
<div class = "Ssn"> Ssn : <input type="text" id="ssn"></div></br>
<div class = "Birthdate"> Birthdate : <input type="text" id="bdate"></div></br>
<div class = "Address"> Address : <input type="text" id="address"></div></br>
<div class = "Sex"> Sex : <select id="sex" style="width: 80px;">
    <option value="F">F</option>
    <option value="M">M</option>
</select>
</div></br>
<div class = "Salary"> Salary : <input type="text" id="salary"></div></br>
<div class = "Super_ssn"> Super_ssn : <input type="text" id="super_ssn"></div></br>
<div class = "Dno"> Dno : <input type="text" id="dno"></div></br>
<button onclick='addInfo()'>정보 추가하기</button>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!—index.js 추가—>
<script src="/js/app/insert.js"></script>
</body>
</html>